body {
  font-family: Roboto, sans-serif; /* todo доминантный в макете шрифт Roboto, альтернативный вариант шрифта тип семейства (без засечек) */
  color: var(--primary-text-color); /* todo цвет основного текста */
}

/* ?Палитра цветов */

.menu-list .menu-item > a {
  color: var(--primary-text-color); /* todo цвет шрифта навигационного меню */
}

.top-contacts-item > a {
  color: var(--secondary-text-color); /* todo цвет ссылок mail/tel */
}

.header {
  background-color: var(--background-color-header); /* todo цвет фона header */
}

.hero {
  color: var(--hero-text-color); /* todo цвет текста hero */
  background-color: var(
    --background-color-hero-alternate
  ); /* todo альтернативный цвет фона hero */
}

.footer {
  background-color: var(--background-color-footer); /* todo цвет фона футера */
}

/* ?Палитра цветов */

/* !CSS Custom Properties (переменные) */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hero-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --second-color-logo-header: #000000;
  --second-color-logo-footer: #ffffff;
  --address-color-footer: rgba(255, 255, 255, 0.6);
  --when-button-pressed-color: #ffffff;
  --background-color-hero-alternate: #2f303a;
  --background-color-header: #ffffff;
  --background-color-unpaired-section: #e5e5e5;
  --background-color-paired-section: #f5f4fa;
  --background-color-card: #ffffff;
  --background-color-container: #ffffff;
  --background-color-footer: #2f303a;
}
/* !CSS Custom Properties (переменные) */

/* *ОТМЕНА СТИЛЕЙ ПО УМОЛЧАНИЮ */
/* убрать стиль маркера */
.menu-list,
.top-contacts-list,
.features-list,
.we-doing-list,
.team-list,
.filters-list,
.project-list,
.address-footer-list {
  list-style: none;
}
/* убрать стиль маркера */

/* //vs */
/* //ul {list-style: none;} */ /* убрать стиль маркера через тег */

/* отменяет подчеркивания ссылок, заданое по умолчанию.  */
.logo,
.menu-item > a,
.top-contacts-item > a,
.address-footer-list > li > a {
  text-decoration: none;
}
/* отменяет подчеркивания ссылок, заданое по умолчанию.  */

.address-footer-list {
  font-style: normal; /* определяет начертание шрифта: обычное */
}

.button {
  padding: 0; /* значение полей вокруг содержимого элемента */
  border: none; /* установил толщину, стиль и цвет границы вокруг элемента */
  font: inherit; /* шрифт и текст: наследует значение родителя */
  color: inherit; /* цвет текста: наследует значение родителя */
  background-color: transparent; /* цвет фона: устанавливает прозрачный фон */
}
/* *ОТМЕНА СТИЛЕЙ ПО УМОЛЧАНИЮ */

/* ? header */
.header .accent {
  color: var(--accent-text-color); /* todo цвет акцента в лого */
}
.header .logo {
  color: var(--second-color-logo-header); /* todo цвет текста лого */
}

.menu-list .menu-item :hover,  /* todo стиль элемента при наведении на него курсора мыши */
.menu-list .menu-item :focus {
  /* todo стиль для элемента получающего фокус */
  color: var(--accent-text-color);
}

.top-contacts-list .top-contacts-item :hover,  /* todo стиль элемента при наведении на него курсора мыши */
.top-contacts-list .top-contacts-item :focus {
  /* todo стиль для элемента получающего фокус */
  color: var(--accent-text-color);
}
/* ? header */

/* ? maine */
.button {
  cursor: pointer; /* todo кнопке задано свойство cursor со значением pointer */
}
/* ? maine */

/* ? footer */
.footer .accent {
  color: var(--accent-text-color); /* todo цвет акцента в лого */
}
.footer .logo {
  color: var(--second-color-logo-footer); /* todo цвет текста лого */
}

.address-footer-list > li > a {
  color: var(--address-color-footer); /* todo цвет текста адреса */
}

.address-footer-list :hover, /* todo стиль элемента при наведении на него курсора мыши */
.address-footer-list :focus {
  /* todo стиль для элемента получающего фокус */
  color: var(--accent-text-color);
}
/* ? footer */

/* TODO portfolio.html */

/* ? main */
.filters-item :hover, /* todo стиль элемента при наведении на него курсора мыши */
.filters-item :focus {
  /* todo стиль для элемента получающего фокус */
  background-color: var(
    --accent-text-color
  ); /* todo определяет цвет фона элемента */
  color: var(
    --when-button-pressed-color
  ); /* todo определяет цвет текста элемента */
}
/* ? main */

/* TODO portfolio.html */

/* //Палитра цветов */
/* //доминантный на макете цвет текста #212121 */
/* //цвет вторичного текста #757575 */
/* //цвет белого текста #ffffff */
/* //цвет акцент #2196F3 */
/* //цвет главного фона #ffffff */
/* //цвет второстепенного фона #F5F4FA */
/* //цвет футера #2F303A */
/* //Палитра цветов */
